<!DOCTYPE html>

<html><head></head>
  <% include ../../template/layout/head.ejs %>
  <body class="">
    <% include ../../template/layout/top.ejs %>  
    <% include ../../template/component/nav.ejs %> 
    <div class="main">HELLO WORD  <%=JSON.stringify(data.data)%></div> 
    <% include ../../template/layout/footer.ejs %>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</html>
