<div class="pop-success ">
    <span class="pop-success-close js-pop-close">
        <img src="/public/standard/vendor/images/close.png" width="30" height="30" />
      </span>
		<p class="title"> <img src="/public/standard/vendor/images/ico_yes.png" width="80" height="72" class="img-a" />恭喜您，成功注册平台账号</p>
</div>
