<!--底部列表栏-->
<!-- 底部 -->
<div id="foot" class="foot f-cb">
	<div class="foot_all">
		<p class="foot_a">
			<a href="http://www.kdfafa.com/about.html" class="foot_text" target="_blank">关于发发</a>
			<a href="http://kdfafa.com/about.html" target="_blank">联系我们</a>
			<a href="http://kdfafa.com/about.html" target="_blank">法律声明</a>
			<a href="http://kdfafa.com/jiaokuaidi/" target="_blank">热门快递员</a>
			<a href="http://kdfafa.com/wangdian/" target="_blank">热门网点</a>
			<span class="foot_text_a">
				服务热线：0755-23946621
			</span>
		</p>
		<div class="foot_kong">

		</div>
		<p class="foot_b">
			<span class="foot_text_b">
				热门城市：
			</span>
			<span class="">
				<a href="http://www.kdfafa.com/wangdian/?c=440100" target="_blank" class="foot_city">
					广州
				</a>
				<a href="http://www.kdfafa.com/wangdian/?c=500100" target="_blank" class="foot_city">
					重庆
				</a><a href="http://www.kdfafa.com/wangdian/?c=320500" target="_blank" class="foot_city">
					苏州
				</a><a href="http://www.kdfafa.com/wangdian/?c=370100" target="_blank" class="foot_city">
					济南
				</a><a href="http://www.kdfafa.com/wangdian/?c=140100" target="_blank" class="foot_city">
					太原
				</a><a href="http://www.kdfafa.com/wangdian/?c=320400" target="_blank" class="foot_city">
					常州
				</a><a href="http://www.kdfafa.com/wangdian/?c=310100" target="_blank" class="foot_city">
					上海
				</a><a href="http://www.kdfafa.com/wangdian/?c=440600" target="_blank" class="foot_city">
					佛山
				</a><a href="http://www.kdfafa.com/wangdian/?c=410100" target="_blank" class="foot_city">
					郑州
				</a><a href="http://www.kdfafa.com/wangdian/?c=340100" target="_blank" class="foot_city">
					合肥
				</a><a href="http://www.kdfafa.com/wangdian/?c=230100" target="_blank" class="foot_city">
					哈尔滨
				</a><a href="http://www.kdfafa.com/wangdian/?c=430100" target="_blank" class="foot_city">
					长沙
				</a><a href="http://www.kdfafa.com/wangdian/?c=110100" target="_blank" class="foot_city">
					北京
				</a><a href="http://www.kdfafa.com/wangdian/?c=370200" target="_blank" class="foot_city">
					青岛
				</a><a href="http://www.kdfafa.com/wangdian/?c=441900" target="_blank" class="foot_city">
					东莞
				</a><a href="http://www.kdfafa.com/wangdian/?c=330200" target="_blank" class="foot_city">
					宁波
				</a><a href="http://www.kdfafa.com/wangdian/?c=440300" target="_blank" class="foot_city">
					深圳
				</a><a href="http://www.kdfafa.com/wangdian/?c=530100" target="_blank" class="foot_city">
					昆明
				</a><a href="http://www.kdfafa.com/wangdian/?c=130100" target="_blank" class="foot_city">
					石家庄
				</a><a href="http://www.kdfafa.com/wangdian/?c=320200" target="_blank" class="foot_city">
					无锡
				</a>
			</span>
		</p>

		<p class="foot_b">
			<span class="foot_text_b">
				热门城市：
			</span>
			<span class="">
				<a href="http://www.kdfafa.com/wangdian/?c=440100" target="_blank" class="foot_city">
					广州快递员
				</a>
				<a href="http://www.kdfafa.com/wangdian/?c=500100" target="_blank" class="foot_city">
					重庆快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=320500" target="_blank" class="foot_city">
					苏州快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=370100" target="_blank" class="foot_city">
					济南快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=140100" target="_blank" class="foot_city">
					太原快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=320400" target="_blank" class="foot_city">
					常州快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=310100" target="_blank" class="foot_city">
					上海快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=440600" target="_blank" class="foot_city">
					佛山快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=410100" target="_blank" class="foot_city">
					郑州快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=340100" target="_blank" class="foot_city">
					合肥快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=230100" target="_blank" class="foot_city">
					哈尔滨快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=430100" target="_blank" class="foot_city">
					长沙快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=110100" target="_blank" class="foot_city">
					北京快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=370200" target="_blank" class="foot_city">
					青岛快递员
				</a><a href="http://www.kdfafa.com/wangdian/?c=441900" target="_blank" class="foot_city">
					东莞快递员
				</a>
			</span>
		</p>

		<p class="foot_bqxx">
			版权所有 © 深圳市快金数据技术服务有限公司粤ICP备15010928号
		</p>
	</div>
</div>
