<div class="left-menu clearfix">
  <div class="menu">
    <div class="menu-title">1.环境区分</div>
    <div class="sub-menu">子菜单</div>
  </div> 
  <div class="menu">
    <div class="menu-title">菜单2</div>
    <div class="sub-menu">子菜单</div>
  </div> 
  <div class="menu">
    <div class="menu-title">菜单3</div>
    <div class="sub-menu">子菜单</div>
  </div> 
  <div class="menu">
    <div class="menu-title">菜单4</div>
    <div class="sub-menu">子菜单</div>
  </div> 
  <div class="menu">
    <div class="menu-title">菜单5</div>
    <div class="sub-menu">子菜单</div>
  </div> 
</div> 

