<div class="top">
  <div class="content">
    <div class="clearfix info">
      <div class="top-login-regiser">
        <a class="js-top-login" href="javascript:void(0);">登录</a>  <a class="js-top-register" href="javascript:void(0);">注册</a>
      </div> 
      </div>
    </div>
  </div>
</div>
