<div class="f-pop-y guide-all">
		
		<img src="/public/standard/vendor/images/bg_yd.png" width="100%" class="f-fl">
		<img src="<%=img%>" class="yd-img-a" width="93" height="93">
		<img src="/public/standard/vendor/images/img_yd_kdy.png" class="yd-img-b" width="93" height="93">
		<img src="/public/standard/vendor/images/img_yd_dyj.png" class="yd-img-c" width="93" height="93">
		<div class="text">
			<span class="u-but" id="guide-but">
				我知道了
			</span>
		</div>
	</div>