<div class="pop-inner pop-flow">
    <span class=" js-pop-close pop-flow-close">
        <img src="/public/standard/vendor/images/close.png" width="30" height="30" />
      </span>
  
    <p class="title">已收藏过！</p>
    <p class="pop-flow-close-button">
      <span >关闭</span>
    </p>
  </div>
</div>
